:root {
    --main-color: #333333;
    --gray: #e6e6e6;
    --hover-color: #d0d0ee;
    --white-color: ffffff;
}

* {
    /* font-family: 'Poppins', sans-serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
    direction: rtl;
    
}

/* section {
    padding: 2rem 9%;
} */
.btn {
    /* margin-top: 1rem; */
    /* display: block; */
    padding: 1rem 3rem;
    font-size: 1.7rem;
    border-radius: .7rem;
    cursor: pointer;
    background: var(--gray);
  }
  /* header  */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;

}

.header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--gray);
    width: 100%;
    padding: .6rem 5rem;
    justify-content: space-between;
}

.lose {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.5rem;
}

.lose .logo {
    padding: 1rem;
    position: relative;
    float: right;
    width: 10rem;
    height: 10rem;
}

.lose form {
    display: flex;
    align-items: center;
    width: 100rem;
    border-radius: 5rem;
    height: 5rem;
    background: var(--gray);
    overflow: hidden;
}

.lose form input {
    width: 100%;
    height: 100%;
    background: none;
    font-size: 1.7rem;
    color: var(--white-color);
    padding: 0 2rem;
    text-transform: none;
}

.lose form label{
    font-size: 2rem;
    padding-left: 2rem;
    color: var(--white-color);
    margin-right: 2rem;;
    cursor: pointer;
}

.lose form label:hover {
    color: var(--hover-color);
}

.lose .icons div,
.lose .icons a {
    height: 5rem;
    width: 5rem;
    font-size: 1.7rem;
    line-height: 5rem;
    background: var(--gray);
    color: var(--white-color);
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 1rem;
}


.header .navbar a {
    font-size: 1.7rem;
    color: var(--main-color);
    margin: none;
    padding: 1rem 2rem;
    text-align: center;
    border-right: 1px solid var(--main-color);
}

.header .navbar a:first-child {
    border-right: none;
}

/* slider  */
.slider-container {
    display: flex;
    position: relative;
    margin-top: 13rem;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .slider {
    width: 100%;
    height: 400px;
    text-align: center;
    overflow: hidden;
    position: relative;
  }

  .slides {
    width: 100%;
    display: flex;
    overflow-x: hidden;
    position: relative;
    /* scroll-behavior: smooth; */
    overflow-y: hidden;
  }

  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    /* height: 400px; */
    scroll-snap-align: center;
    /* margin-right: 0px; */
    box-sizing: border-box;
    background: white;
    transform-origin: center center;
    transform: scale(1);
  }

  .slide__img {
    width: 100%;
    height: 100%;
  }

  .slide a {
    background: none;
    border: none;
  }

  a.slide__prev,
  .slider::before {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 5%;
  }

  a.slide__next,
  .slider::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 5%;
  }

  .slider::before,
  .slider::after,
  .slide__prev,
  .slide__next {
    position: absolute;
    top: 48%;
    width: 35px;
    height: 35px;
    border: solid rgb(32, 31, 31);
    border-width: 0 4px 4px 0;
    padding: 3px;
    box-sizing: border-box;
  }

  .slider::before,
  .slider::after {
    content: "";
    z-index: 1;
    background: none;
    pointer-events: none;
  }

  .slider__nav {
    box-sizing: border-box;
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
  }

  .slider__navlink {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 2px;
    background-color: rgb(202, 195, 195);
    margin: 0 1px 0 0px;
  }
  .slider__navlink:active {
    background: white;
  }
  @keyframes slidy {
    0% {
      left: 0%;
    }
    20% {
      left: 0%;
    }
    25% {
      left: -100%;
    }
    45% {
      left: -100%;
    }
    50% {
      left: -200%;
    }
    70% {
      left: -200%;
    }
    75% {
      left: -300%;
    }
    95% {
      left: -300%;
    }
    100% {
      left: -400%;
    }
  }

   .slide {
    position: relative;
    animation: 5s slidy infinite;
  }
  
/* footer */
.footer {
    background: var(--main-color);
    margin-top: 200px;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 2rem;
    padding: 1rem;
}

.footer .box-container .box h3 {
    font-size: 1.5rem;
    color: var(--gray);
    padding: 1rem 0;
    padding-inline-start:.7rem ;
    width: 90%;
    border-bottom: .1rem solid #666;
}
.footer .box-container .box h4 {
    margin-top: 3.5rem;
    font-size: 1.5rem;
    color: var(--gray);
    padding: 1rem 0;
    padding-inline-start:.7rem ;
    width: 90%;
    border-bottom: .1rem solid #666;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    color: #fff;
    padding: 1rem 0;
}
.footer .box-container .box a span{
    color: #fff;
    font-weight: 600;
}
.footer .box-container .box a {
    padding-right: .5rem;
    color: #fff;
}

.footer .credit {
    background: var(--gray);
    display: flex;
    flex-direction: row-reverse;
    padding: 1rem;
    justify-content: space-between;
    text-align: center;
    font-size: 1.5rem;
    color: var(--main-color);
}

.footer .credit .brands {
    align-self: center;
    width: 4rem;
    height: 5rem;
    padding: 1rem;
}
.footer .box-container .box form {
    background: #444;
    padding: 1rem;
    display: inline-block;
    border-radius: .6rem;
    margin-top: 1rem;
}
.footer .box-container .box form .email {
    width: 100%;
    border-radius: .7rem;
    background: var(--gray);
    font-size: 1.5rem;
    text-transform: none;
    color: #aaa;
    margin-bottom: 1rem;
    padding: 1.2rem 1.4rem;
    display: inline;
  }

.footer .box-container .box form label{
    font-size: 1.5rem;
    position: relative;
    bottom: 4rem;
    right: 8rem;
    z-index: 10;
    color: var(--main-color);
    display: relative;
    float: left;
    cursor: pointer;
}
.footer .box-container .box form .btn {
   position: relative;
   /* right:17rem; */
   float: left;

}
.footer .box-container .box .share {
    padding-top: 1rem;
    display: flex;
    
  }
  
  .footer .box-container .box .share a {
    height: 3.5rem;
    width: 3.5rem;
    line-height: 2rem;
    border-radius: 50%;
    font-size: 1.2rem;
    color: var(--white-color);
    margin-right: .5rem;
    text-align: center;
  }
  .footer .box-container .box .share a:first-child{
      background: #33f;
  }
  .footer .box-container .box .share a:nth-child(2){
    background: rgb(51, 190, 255);
}
.footer .box-container .box .share a:nth-child(3){
    background: #f33;
}
.footer .box-container .box .share a:nth-child(4){
    background: rgb(207, 34, 207);
}
.footer .box-container .box .share a:nth-child(5){
    background: rgb(96, 156, 190);
}
.footer .box-container .box .share a:nth-child(6){
    background: rgb(194, 231, 28);
}
.footer .box-container .box .share a:nth-child(7){
    background: rgb(32, 24, 24);
}
@media (max-width:768px) {
    .footer .credit {
        display: flex;
        flex-direction: column;
    } 
    .footer .credit .brands {
        align-self: center;
        justify-content: center;
    }
    
}